header {
        background-color: rgba(32, 68, 42, 0.52);
        border-bottom: 4px solid black;
        text-align: center;
        float: center;
      }
h1 {
text-align: center;
color: orange;
}  

p {
	text-indent: 15px;
}

h3 {
	font-family: 'Lobster', cursive;
}
h4 {
	text-indent: 15px;
}
div p {
	text-indent: 30px;
}
div {
	border-top: 3px solid gray;
}