th{
	display:inline-block;
	height:600px;
	text-align: left;
	border: 1px solid black;
}
table>tr>th{
	position: fixed;
}

h3{
  text-decoration:underline;
}
tr p{
  text-align: justify;
}
#nav {
  background-color: lightgrey;
}